# ===== AMBIENTE DE PRODUÇÃO =====
NODE_ENV=production
PORT=3000

# ===== BANCO DE DADOS =====
DB_HOST=postgres-olympia
DB_PORT=5432
DB_USERNAME=olympia_app
DB_PASSWORD=V/aMMGypweFPSlGivTdcaC44zzEZDfuv
DB_DATABASE=boleto_db

# ===== REDIS =====
REDIS_URL=redis://redis-boleto:6379

# ===== SEGURANÇA =====
JWT_SECRET=jwt_olympia_secret_change_this_2024
JWT_EXPIRES_IN=24h

# ===== OLYMPIA BANK =====
OLYMPIA_BASE_URL=https://api.olympiabank.net

# ===== OUTROS =====
LOG_LEVEL=info
CORS_ORIGINS=https://envio-boleto.olympiabank.xyz
API_BASE_URL=https://api.envio-boleto.olympiabank.xyz
